@media (min-width: 1200px){
  .header {
    display: none;
  }
}
@media (max-width: 1199px){
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
  .main {
    margin-top: 70px;
  }
}
@media (max-width: 990px){
  .header {

  }
}
