body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.bg-dark {
  background-color: #1a1a1a;
}
.bg-semidark {
  background-color: #343a40;
}
.bg-green {
  background: #bbe432;
  color: #414141;
  transition: 0.15s;
}
.bg-green:hover {
  background: #414141;
  color: #bbe432;
}
.bg-green-inverted {
  background: #414141;
  color: #fff;
  transition: 0.15s;
}
.bg-green-inverted:hover {
  background: #bbe432;
  color: #414141;
}
.text-green {
  color: #bbe432;
}
.form {
  background-color: #edf4f6;
}

.z-1{z-index: 1;}
.z-2{z-index: 2;}
.z-3{z-index: 3;}
.z-4{z-index: 4;}
.z-5{z-index: 5;}
.z-6{z-index: 6;}
.z-7{z-index: 7;}
